

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
    font-size: 110%
}

a {
  content: ">" ;
  background-color: #111;
  color: #FFFFFF; /*#337AB7;*/
  padding: 3px 7px 7px 3px;
}

a:hover,
a:focus {
  color: #111 !important;
  background-color: #FFFFFF !important;
  text-decoration: underline !important;
}

button,
input {
    outline: 0 !important; 
}

button.btn.btn-success::after {
    content: "]";
}
button.btn.btn-success:before {
    content: "[";
}

article {
    align-self: center;
    background-color: #111;
    color: #FFFFFF; /*#337AB7;*/
    display: inline-block;
}

h1,
body,
content, 
form {
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    background-color: #FFFFFF;
 }



/* The side navigation menu */
.sidebar {
    height: 210px;
    width: 200px;
    padding: 35px;
    position: fixed;
    background-color: #111;
    color: #FFFFFF;
}










