{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="utf-8">
    <title>unauthorized</title>
</head>
<body>
<br><br><br><br>
    <h1>HOLD IT RIGHT THERE!!!</h1>
    <p>You are trying to get to a page that requires a login. so, like, login. in more formal terms...</p>
    <br><br>
    <p><i>The server could not verify that you are authorized to access the URL requested. You either supplied the wrong credentials (e.g. a bad password), or your browser doesn't understand how to supply the credentials required.</i></p>
</body>
</html>

{% endblock %}
<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->
