{% extends 'base.html' %}
{% from "macros.html" import render_field %}
{% block sidebar %}
<!-- overwrite sidebar - no need to link to login! -->
    <div class='sidebar'>
      <font size = 4>
      {% if config.current_user.username != '83928482956' %}
      in as {{config.current_user.username}}
        <a href="{{ url_for('to_start') }}"> posts </a> 
      {% else %}
        <a href="{{ url_for('sign_up') }}"> sign up </a>
      {% endif %}
      </font>
    </div>
{% endblock %}

{% block content %}
<h1>nimble blog.</h1>
<br><br><br><br><br><br>
       <font size="3">sign in below, or 
       <a href={{ url_for('sign_up') }}>  create a new account 
       </a> </font>
        <hr>
            <form action="" method="post">
                {{form.hidden_tag()}}
                <table>
                    {{ render_field(form.username, size=50) }}
                    {{ render_field(form.password, size=50) }}
                    <tr class= "submit">
                        <td></td>
                        <td><button type='submit'class="btn btn-success"> login </button></td></tr>
                </table>
                <br><br>
            </form> 
    </section>
{% endblock %}