{% extends 'base.html' %}
{% from "macros.html" import render_field %}
{% block content %}
<h1>nimble blog.</h1>
<br><br><br><br>        
        <h1>{{ hfour }}</h1>
        <br><br><br>
        <hr>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <table>
                {{ render_field(form.username, size=50) }}
                {{ render_field(form.password, size=50) }}
                {{ render_field(form.password_confirm, size=50) }}
                {{ render_field(form.Email, size=50) }}
                <tr class= "submit">
                    <td></td>
                    <td><button type='submit'class="btn btn-success"> sign up </button></td>
                </tr>
            </table>
        </form> 
<section>
{% with pgs = top_posts %}
    {% include "list_pages.html" %}
{% endwith %}
</section>
{% endblock %}