{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <br><br>
          <h2> {{ post.url.strip('/') }} </h2>
          <br><br><br>
          <p>{{ post.content }}
          <br><br><br><br>
          <em> <font size = 3> created by {{post.user.username}} </font></em>
          <br><br><br><br>
          {% if active_user == post.user %}
            <a href={{ url_for('add', post=post.url.strip('/')) }}> edit this post </a>
            <br><br>
            <em>tags</em> ||
            {% if post.tags %}
              {% for tg in post._tags %}
              <a href="{{ url_for('catch_tag', tag = tg.name) }}"> {{ tg.name }} </a>
              {% endfor %}
            {% endif %}
            <br><br>
            <em> <font size = 3>
            liked by: &nbsp
            {% for liker in post._liked%}
                {{ liker.username }},
            {% endfor %}
            </font></em>
          {% elif active_user in post._liked %}
            <em> <font size = 3> you liked this already. 
            <br>
            <font size = 1> no need to do it again, it'll go to their head... </font></em>
          {% elif active_user.is_authenticated %}
            <a href={{ url_for('like', user = post.user.username, post_name=post.url.strip('/')) }}> like! </a>
          {% else %}
            log in to like or edit.
          {% endif %}
      </div>
    </div>
{% endblock %}
