{% extends 'base.html' %}
{% block content %}
{% from "macros.html" import render_field %}

    <h1>Hello again {{active_user.username}}, welcome to your home page. </h1>
    <br><br><br>
Add a new post! Start with the name.
<br><br><br>
<form action="" method="post">
    {{form.hidden_tag()}}
    <table>
        {{ render_field(form.url, size=50)}}
        <tr class= "submit">
            <td></td>
        <td><button type='submit'class="btn btn-success"> get started </button></td>
        </tr>
    </table>
</form>
<br><br><br>
<h1> your previous posts </h1>
    {% with pgs = posts %}
        {% include "list_pages.html" %}
    {% endwith %}


{% endblock %}