{% extends 'base.html' %}
{% from "macros.html" import render_field %}

{% block content %}
  <section>
    <div class="jumbotron">
      <div class="container">
          <h2> {{ post.url.strip('/') }} </h2>
          <br><br><br>
          <p>{{ post.content }}
          <br><br><br><br>
          <em> <font size = 3> created by {{post.author.username}} </font></em>
          <br><br>--<br>

          {% if config.current_user.key() == post.author.key() %}
            <a href="{{ url_for('add', post=post.url.strip('/'), username = post.author.username) }}"> 
            edit this post 
            </a>
          {% endif  %}
          <br><br>
          <em>tags</em><br>
            {% for tg in tags %}
            <a href="{{ url_for('catch_tag', tag = tg.name) }}"> {{ tg.name }} </a> &nbsp
            {% endfor %}
          <br><br><br>
          <em> <font size = 3>
          {% if post._liked != empty_list%}
              liked by<br>
              {% for liker in post.get_likers()%}
                   - {{ liker.username }}
              {% endfor %}
          {% endif %}
            </font></em>
            <br><br>
          {% if config.current_user.username != '83928482956' %}
              {% if config.current_user.key() in post._liked %}
                <em> <font size = 3> you liked this already. 
                <br>
                <font size = 1> no need to do it again, it'll go to their head... </font></em>
              
              {% elif config.current_user.key() != post.author.key() %}
                <a href="{{ url_for('like', username = post.author.username, post_name=post.url.strip('/')) }}"> 
                like this post! 
                </a>
              {% endif %}
                      <br><br>
              <form action="" method="post">
              {{form.hidden_tag()}}
                <table>
                    {{ render_field(form.url, hidden=True, value=comm_url) }}
                    {{ render_field(form.content, alt_label = "  ", cols=10, rows=5)}}
                    <tr class= "submit">
                        <td></td>
                        <td><button type='submit'class="btn btn-success">post comment</button></td>
                    </tr>
                </table>
              </form>  
          {% else %}
            log in or sign up to like / edit / comment
          {% endif %}
      </div></font></em></p></div></div>
      </section>
      <section>
        <div>
          <h2>Comments</h2>
          <br>
          {%for comment in post.get_comments()%}
            <br><font size="1">{{comment.url}}</font>
            <p>{{comment.content}}</p>
            <br>--{{comment.author.username}}<br><br>
            {% if config.current_user.key()  == comment.author.key() %}
              <a href="{{ url_for('render_and_edit_comment', 
                          username = post.author.username, 
                          post_name = post.url.strip('/'), 
                          edit_comment_url = comment.url.strip('/') ) }}"> 
              edit this comment 
              </a>
              &nbsp or &nbsp 
              <a href="{{ url_for('kill_post', 
                          post = comment.url.strip('/') ) }}"> 
              delete it
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </section>
      </div>
    </div>
{% endblock %}
